#################
## Eclipse
#################

target/
.settings/

*.class
*.jar
*.war
*.ear



############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
