
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0px;
	padding: 0px;
	background: #FFFFFF url(images/img02.jpg) repeat-x left top;
	font-family: 'Abel', sans-serif;
	font-size: 14px;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: 'Abel', sans-serif;
	font-weight: normal;
	color: #000000;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 240%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #474747;
}

a:hover {
	text-decoration: underline;
}

#wrapper {
	min-height: 100%;
}

#wrapper2 {
}

.container {
	width: 1000px;
	margin: 0px auto;
}

/* Header */

#header {
	overflow: hidden;
	width: 1000px;
	height: 115px;
	margin: 0 auto;
	padding: 0px 0px;
}

#username {
	padding: 0px 30px 0px 30px;
}

#rso-login-bar {
	width: 1000px;
	height: 50px;
	background-color: #CFCFCF;
	margin: auto;
	padding: 5px 20px 5px 20px;
}

div.duty-container {
	opacity: 0.95;
	margin: 8px;
	background-color: white;
	border-style: solid;
	width: 48%;
	height: 400px;
	border-radius: 15px;
	border-width: 5px;
	border-color: gray;
	max-width: 400px;
	display: inline;
}

div.schedule-container {
	margin: 0px 15px;
	background-color: white;
	border-style: solid;
	width: 46%;
	height: 400px;
	border-width: 2px;
	border-color: gray;
}

div.duty-line-item {
	opacity: 0.95;
	height: 75px;
	border-color: blue;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
}

.rso-schedule-date-label {
	margin: 5px 5px 5px 5px; 
}

div.rso-schedule-date {
	background-color: #CFCFCF;
	margin: auto;
	padding: 5px 20px 5px 20px;
	border-color: black;
	border-width: 0px 0px 2px 0px;
	border-style: solid; 
}


div.schedule-line-item {
	opacity: 0.95;
	height: 75px;
	border-color: black;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
}

div.vetting-line-item {
	height: 145px;
	border-color: black;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
}

.reg-label {
	width: 200px;
	margin: 0px 10px 0px 20px;
}

.rso-table-label {
	width: 80px;
	text-align: right;
}

.rso-vetting-table-label {
	width: 100px;
	text-align: right;
}

.rso-table-value {
	padding-left: 25px;
}

.rso-remain-table {
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	background-color: blue;
	color: white;
}

.rso-remain-table-label {
	text-align: center;
}

.rso-remain-table-value {
	text-align: center;
}


#on-duty-container {
	width: 900px;
	margin: auto;
}

/* Logo */

#logo {
	float: left;
	width: 280px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	background: #000000;
	color: #FFFFFF;
}

#logo h1, #logo p {
}

#errorText h1 {
	display: block;
	padding: 10px 0px 0px 0px;
	letter-spacing: -3px;
	text-align: center;
	text-transform: lowercase;
	font-size: 3.8em;
}

#logo h1 {
	display: block;
	padding: 10px 0px 0px 0px;
	letter-spacing: -3px;
	text-align: center;
	text-transform: lowercase;
	font-size: 3.8em;
}

#logo h1 a {
	color: #FFFFFF;
}

#logo p {
	margin-top: -10px;
	padding: 0px 0 0 0px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	font-size: 10px;
	color: #FFFFFF;
}

#logo p a {
	color: #FFFFFF;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #000000;
}

/* Splash */

#splash {
	width: 960px;
	height: 300px;
	margin: 0px auto;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 60px;
	padding: 20px 0px 0px 0px;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

#search-submit {
	width: 50px;
	height: 22px;
	border: none;
	background: #B9B9B9;
	color: #000000;
}

/* Menu */

#menu {
	float: right;
	width: 600px;
	height: 90px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 25px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	height: 65px;
	padding: 0px 15px 0px 15px;
}

#menu a {
	display: block;
	height: 70px;
	line-height: 70px;
	margin-right: 1px;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: normal;
	color: #040509;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	border-bottom: 5px solid #040509;
	text-decoration: none;
}

#menu .current_page_item a {
}

/* Page */

#page {
	width: 960px;
	margin: 0px auto;
	padding: 30px 0px;
}

/* Content */

#content {
	float: left;
	width: 640px;
	padding: 0px 0px 0px 0px;
}

.post {
	overflow: hidden;
	margin-bottom: 20px;
}

.post .title {
	margin: 0px;
	padding: 7px 0px 0px 0px;
	letter-spacing: -1px;
}

.post .title a {
	border: none;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: normal;
	color: #000000;
}

.post .meta {
	margin-bottom: 30px;
	padding: 0px;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: normal;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
	color: #148DFB;
}

.post .entry {
	padding: 0px 0px 30px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	float: right;
	margin: 20px 0px 30px 0px;
	text-align: right;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: normal;
}

.more {
	display: block;
	float: left;
	padding: 0px 0px 0px 0px;
	margin-right: 30px;
}

.comments {
	display: block;
	float: left;
	padding: 0px 0px 0px 0px;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 280px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 50px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px solid #CCCCCC;
	background: url(images/img01.gif) no-repeat left 13px;
	margin: 0px 30px;
	font-size: 14px;
	font-weight: normal;
}

#sidebar li li span {
}

#sidebar li li a {
	padding: 0px 0px 0px 0px;
}

#sidebar h2 {
	margin: 0px;
	padding: 20px 0px 30px 0px;
	padding-left: 30px;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: normal;
	color: #000000;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
	font-size: 14px;
}

#sidebar a {
	border: none;
	color: #969493;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Three Column Footer Content */

#footer-content {
	overflow: hidden;
	width: 960px;
	margin: 0px auto;
	padding: 50px 0px;
}

#footer-content h2 {
	margin: 0px;
	padding: 0px 0px 30px 0px;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
	color: #000000;
}

#footer-content ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#footer-content-wrapper {
	overflow: hidden;
	background: #F3F3F3;
	border-top: 1px solid #E6E6E6;
}

#column1 {
	float: left;
	width: 300px;
	margin-right: 30px;
}

#column2 {
	float: left;
	width: 300px;
}

#column3 {
	float: right;
	width: 300px;
}

#footer {
	width: 960x;
	margin: 0px auto;
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	background: #000000;
}

#footer p {
	margin: 0;
	padding-top: 8px;
	line-height: normal;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: normal;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
}

#banner-wrapper {
	width: 100%;
	overflow: overlay;
	height: auto;
	background: #000000 url(../images/coltAR.jpg) no-repeat center;
	margin: auto;
}

#schedule-wrapper {
	width: 1000px;
	background-color: white;
	margin: auto;
	display: block;
	padding: 5px 20px 5px 20px;
}

#reg-banner-wrapper {
	width: 100%;
	overflow: hidden;
	height: auto;
	background-color: white;
}

#banner {
}

#everything_content {
	margin: 10px auto;
	padding: 5px;
	width: 938px;
	overflow: hidden;
}

#navcontainer {
	margin: 0 auto;
	width: 950px;
	background-color: #ffea91;
	background: -moz-linear-gradient(top, #FFE268, #FFF1B2);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFE268),
		color-stop(100%, #FFF1B2) );
	height: 42px;
	position: relative;
	z-index: 1000;
	border-bottom: 1px #ffe36f solid
}

#navcontainer ul {
	width: 550px;
	padding: 11px 0;
	overflow: hidden;
	list-style-type: none;
	text-align: left
}

#navcontainer li {
	display: inline;
	line-height: 150%
}

#navcontainer li.last {
	padding: 12px 0;
	border-left: 1px solid #fff5d0
}

#navcontainer .top-nl {
	padding: 12px 2.5em;
	text-decoration: none;
	color: #000;
	border-left: 1px solid #fff5d0;
	border-right: 1px solid #eed983;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .75)
}

#navcontainer .top-nl:hover {
	background: #ffe36f
}

#uncredited_banner,.warning-banner {
	margin: 10px auto 0;
	width: 950px;
	background: #eee;
	border: 1px solid #ccc;
	text-align: center
}

.separated_fieldset {
	margin: 5px 0px 5px 0px;
	border-bottom: gray solid 1px;
}

.LV_validation_message {
	margin: 0px 0px 0px 10px;
}

.LV_valid {
	color: green;
}

.LV_invalid {
	color: red;
}

.invisible {
	display: none;
}

#sidenav li{border-bottom:1px #E5E5E5 solid}
.secondaryNav{width:170px;float:left;font-size:1.15em;margin-left:1px}
.secondaryNav li{list-style:none}
.secondaryNav a,.secondaryNav a:visited{color:#555;display:block;text-decoration:none}
.secondaryNav a:hover{color:#333}
.nav-title{padding-left:.75em;border-bottom:0;font-size:17px; border-bottom-color: gray; border-bottom-width: 1px;}
.nav-first,.nav-second,.nav-third{padding:0 .25em 0 1em}
.nav-first{font-size:.85em}
.nav-second,.nav-third{background:#fff;font-size:90%;line-height:120%;padding-top:.1em;padding-bottom:.1em}
.nav-second:hover,.nav-third:hover,.columns .col,.contact-box-highlight,.expires-soon{background:#fff5d0}
#sidenav li:hover{background:#FFF925}
.nav-third{font-size:80%;line-height:180%;padding-left:2.5em}
#currentnav{text-decoration:underline}
.nav-first a{padding:5px 0}
.nav-second a{padding:.25em 0;font-size:.9em}
.nav-third a{padding:.10em 0}
.nav-title a{padding:.75em 0}
.nav-title, .nav-first, .nav-second { border-bottom-color: gray;
border-bottom-width: 1px;
border-bottom-style: solid;}


#sidenav-content {
float: right;
padding: 15px;
width: 736px;
background: white;
border-left: 1px solid #999;
height: 1%;
min-height: 620px;
position: relative;
}

#sidenav-content table {
	width: 100%
}

#sidenav-content p {
	line-height: 150%
}

#sidenav-content th {
	background: #ccc;
	border: 1px #ccc solid
}

#sidenav-content .striped_even,#sidenav-content .right-actions,.nav-first:hover,input[type="text"][disabled],textarea[disabled],.variables .odd
	{
	background: #eee
}

#sidenav-content .striped_odd,.jqmClose:hover {
	background: #fff
}

.right-actions {
	padding: 5px 15px;
	float: right
}

.main-content li{line-height:175%}
.main-content>h2{clear:both}

.main-content>.right-actions {
	margin: -3px -5px 0 0;
	box-shadow: inset 0 0 2px #000
}

.right-actions:first-child {
	margin-bottom: -40px;
	position: relative
}

#sidenav-content .page-actions {
	padding: 1em 0;
	text-align: right
}

#sidenav-content h1 {
	margin: -15px -15px 20px;
	padding: 12px 15px 13px;
	background: #515151;
	background: -moz-linear-gradient(top, #515151, #1C1C1C);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #515151),
		color-stop(100%, #1C1C1C) );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#515151',
		endColorstr='#1C1C1C', GradientType=0 );
	color: #fff;
	overflow: hidden
}

.basic{margin:10px;width:560px}
.basic fieldset label{margin-right:5px;width:160px;float:left;text-align:right;padding-right:20px;font-weight:bold;display:block}
.basic label.optional,.basic label small{font-weight:normal}
.basic .tip{font-size:xx-small;padding-right:4px}
.basic label.clear{text-align:left;padding-bottom:2px;display:block;float:none}
.basic fieldset{border:1px solid #ccc;background-color:#eee;padding:10px;width:auto}
.basic .submit{border:0;background:none;padding-right:0;display:block;text-align:left}
.basic .submit input{float:right;padding:0 1em}
.basic .submit ul{list-style:none;padding-left:1em;text-indent:-1em;float:left}
.basic fieldset fieldset{background:none;border:0;padding:0;margin-bottom:.75em;overflow:hidden}
.basic fieldset fieldset label small.tip{display:block;margin:-3px 0 .3em 27px;font-size:85%}
.basic fieldset fieldset .textbox{vertical-align:middle;width:150px}
.basic fieldset fieldset label{background:none;border:0;padding:0 0 2px;float:none;text-align:left;display:inline;padding-top:0;font-weight:normal}
.basic fieldset legend{font-size:1.25em;font-weight:normal;padding:0 .3em;border:0;background:none;line-height:1.2}
.basic fieldset textarea,input,select{margin-bottom:0}
input,select{vertical-align:middle}
.basic fieldset p{margin:0 0 1em 2px;width:auto;white-space:normal}
.basic fieldset fieldset p{font-size:110%;padding:0 0 0 5px}
.basic div.scroll{width:480px;height:180px;border:1px solid #ccc;background:#fff;padding:6px;overflow:auto;margin-bottom:.5em}
.basic h2,#help .basic h2{border:0;background:none;margin-bottom:.2em}
.basic .disabled label,.basic .disabled legend,.basic .disabled input{color:#aaa}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

		.loginoptions {padding:0em .7em;margin-top:20px}
		.loginoptions .basic{width:auto;margin:0}
		.loginoptions fieldset label{width:9.5em;padding-right:.5em}
		.loginoptions .inpu,.loginoptions .inpp{width:55%;min-width:8em}
		.loginoptions .inpe{width:80%;min-width:8em}
		.loginoptions fieldset{background:none;border:0;padding:0;margin:0;overflow:show}
		.loginoptions fieldset fieldset{display:block;width:auto}
		.loginoptions .submit input{margin-bottom:1em;float:none;margin-left:130px}
		#loginbox {width:18em;background-color:#def;border:1px solid #7AC;margin:0;padding:.7em}
		#loginbox .legend{margin-bottom:1em;font-size:120%}
		#loginbox label{width:5.4em;text-align:left}
		#loginbox input,.tooltip dl{width:10em}
		#loginbox .submit input{width:auto;margin-left:80px}
		
.noStyle { }